= form_for(@quip, :url => form_path(@quip)) do |f|
  - if @quip.errors.any?
    #error_explanation
      %ul
        - @quip.errors.full_messages.each do |msg|
          %li= msg

  = f.submit "Add"
  = f.text_field :text
