@charset "UTF-8";
/* line 4, ../../../app/stylesheets/quips/index.scss */
form {
  margin: 40px 0px 10px;
}
/* line 6, ../../../app/stylesheets/quips/index.scss */
form input[type=text] {
  width: 426px;
}
/* line 7, ../../../app/stylesheets/quips/index.scss */
form input[type=submit] {
  display: inline;
  float: right;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  font-size: 1.5em;
  line-height: 1.2em;
  width: 100px;
}
/* line 7, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
form input[type=submit] {
  *display: inline;
}

/* line 15, ../../../app/stylesheets/quips/index.scss */
ul.quips {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  background-color: #EFEFEF;
  padding: 15px 20px;
}
/* line 17, ../../../app/stylesheets/quips/index.scss */
ul.quips li {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  font-size: 1.5em;
  line-height: 1.2em;
  padding: 5px 10px;
}
/* line 21, ../../../app/stylesheets/quips/index.scss */
ul.quips li:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(98%, #eaf0fa), color-stop(100%, #98b5e6));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #eaf0fa 98%, #98b5e6 100%);
  background-image: linear-gradient(top, #ffffff 0%, #eaf0fa 98%, #98b5e6 100%);
  border-color: #9C9;
}
/* line 23, ../../../app/stylesheets/quips/index.scss */
ul.quips a {
  font-size: .5em;
  float: right;
}
