@charset "UTF-8";
/* line 14, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 5, ../../app/stylesheets/_global.scss */
* {
  outline: none;
}

/* line 9, ../../app/stylesheets/_global.scss */
html, body {
  height: 100%;
}

/* line 13, ../../app/stylesheets/_global.scss */
body {
  background-color: white;
  color: #333333;
  font-family: Helvetica, Ariel, sans-serif;
  line-height: 1.2em;
}

/* line 20, ../../app/stylesheets/_global.scss */
a {
  color: #ff9f05;
  text-decoration: none;
}
/* line 24, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
  color: #ffb338;
}
/* line 27, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:active {
  color: #eb9000;
}

/* line 25, ../../app/stylesheets/_global.scss */
#header {
  overflow: hidden;
  *zoom: 1;
}
/* line 27, ../../app/stylesheets/_global.scss */
#header h1 {
  font-size: 2.5em;
  line-height: 1.2em;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}
/* line 36, ../../app/stylesheets/_global.scss */
#header #nav {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #000000), color-stop(5%, #ffffff), color-stop(20%, #f6f6ac), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #000000 0%, #ffffff 5%, #f6f6ac 20%, #ffffff 100%);
  background-image: linear-gradient(top, #000000 0%, #ffffff 5%, #f6f6ac 20%, #ffffff 100%);
  margin: 0px 10px 5px 0px;
  padding-bottom: 10px;
  text-align: right;
}
/* line 47, ../../app/stylesheets/_global.scss */
#header #nav a {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  color: #333333;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #222222), color-stop(3%, #ffffff), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #222222 0%, #ffffff 3%, #ffffff 100%);
  background-image: linear-gradient(top, #222222 0%, #ffffff 3%, #ffffff 100%);
  border: 1px solid #000;
  font-weight: bold;
  margin: 0px 5px 10px;
  padding: 10px 20px;
  vertical-align: top;
}
/* line 7, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#header #nav a {
  *display: inline;
}
/* line 24, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#header #nav a:hover {
  color: #ff9f05;
}
/* line 27, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#header #nav a:active {
  color: #eb9000;
}
/* line 57, ../../app/stylesheets/_global.scss */
#header #nav a:active {
  -moz-transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -o-transform: scale(0.97);
  transform: scale(0.97);
}
/* line 61, ../../app/stylesheets/_global.scss */
#header #nav a.home {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #6b4200), color-stop(5%, #ffffff), color-stop(10%, #ffda9e), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #6b4200 0%, #ffffff 5%, #ffda9e 10%, #ffffff 100%);
  background-image: linear-gradient(top, #6b4200 0%, #ffffff 5%, #ffda9e 10%, #ffffff 100%);
}
/* line 68, ../../app/stylesheets/_global.scss */
#header #nav a.persistent {
  padding: 8px 20px;
}

/* line 74, ../../app/stylesheets/_global.scss */
#content {
  margin: 0px auto;
  width: 600px;
}

/* line 7, ../../app/stylesheets/_forms.scss */
form {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  background-color: #EFEFEF;
  padding: 15px 20px;
  padding: 15px 20px;
}
/* line 11, ../../app/stylesheets/_forms.scss */
form input[type=text], form label {
  font-size: 1.5em;
  line-height: 1.2em;
}
/* line 13, ../../app/stylesheets/_forms.scss */
form input[type=text] {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cccccc), color-stop(2%, #fafafa), color-stop(98%, #fafafa), color-stop(100%, #cccccc));
  background-image: -moz-linear-gradient(top, #cccccc 0%, #fafafa 2%, #fafafa 98%, #cccccc 100%);
  background-image: linear-gradient(top, #cccccc 0%, #fafafa 2%, #fafafa 98%, #cccccc 100%);
  border: 2px solid #CCC;
  padding: 8px;
}
/* line 7, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
form input[type=text] {
  *display: inline;
}
/* line 22, ../../app/stylesheets/_forms.scss */
form input[type=text]:focus, form input[type=text]:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(98%, #eaf0fa), color-stop(100%, #98b5e6));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #eaf0fa 98%, #98b5e6 100%);
  background-image: linear-gradient(top, #ffffff 0%, #eaf0fa 98%, #98b5e6 100%);
  border-color: #9C9;
}
/* line 25, ../../app/stylesheets/_forms.scss */
form input[type=submit] {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ff9f05), color-stop(2%, #ffcf55), color-stop(20%, #ff9f05), color-stop(80%, #df7f05), color-stop(100%, #af4f00));
  background-image: -moz-linear-gradient(top, #ff9f05 0%, #ffcf55 2%, #ff9f05 20%, #df7f05 80%, #af4f00 100%);
  background-image: linear-gradient(top, #ff9f05 0%, #ffcf55 2%, #ff9f05 20%, #df7f05 80%, #af4f00 100%);
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  border: none;
  color: #FFF;
  font-size: 2em;
  padding: 10px 15px;
  text-align: center;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
form input[type=submit] {
  *display: inline;
}
/* line 17, ../../app/stylesheets/_shared.scss */
form input[type=submit]:hover, form input[type=submit]:focus {
  -moz-box-shadow: #f6e62c 0 0 15px 0;
  -webkit-box-shadow: #f6e62c 0 0 15px 0;
  -o-box-shadow: #f6e62c 0 0 15px 0;
  box-shadow: #f6e62c 0 0 15px 0;
  cursor: pointer;
}
/* line 21, ../../app/stylesheets/_shared.scss */
form input[type=submit]:active {
  -moz-box-shadow: #d6c60c 0 0 10px 0;
  -webkit-box-shadow: #d6c60c 0 0 10px 0;
  -o-box-shadow: #d6c60c 0 0 10px 0;
  box-shadow: #d6c60c 0 0 10px 0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ff9f05), color-stop(2%, #dfaf35), color-stop(20%, #df7f00), color-stop(80%, #bf5f00), color-stop(100%, #8f2f00));
  background-image: -moz-linear-gradient(top, #ff9f05 0%, #dfaf35 2%, #df7f00 20%, #bf5f00 80%, #8f2f00 100%);
  background-image: linear-gradient(top, #ff9f05 0%, #dfaf35 2%, #df7f00 20%, #bf5f00 80%, #8f2f00 100%);
  color: #DDD;
}
/* line 7, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
form input[type=submit] {
  *display: inline;
}
/* line 30, ../../app/stylesheets/_forms.scss */
form .field {
  margin: 10px 0px;
}
/* line 31, ../../app/stylesheets/_forms.scss */
form .field_with_errors {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
form .field_with_errors {
  *display: inline;
}
/* line 33, ../../app/stylesheets/_forms.scss */
form .field_with_errors input {
  border-color: #ff6161;
}
/* line 37, ../../app/stylesheets/_forms.scss */
form .actions {
  margin: 20px 0px;
  text-align: right;
}

/* line 43, ../../app/stylesheets/_forms.scss */
#error_explanation {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  background-color: #EFEFEF;
  padding: 15px 20px;
  background-color: #ff9494;
  border: 1px solid #ff6161;
  margin-bottom: 10px;
  padding: 5px 20px;
}
