- unless @pending_sites.blank?
  .prompt
    %h3 Care to log in?
    It's optional, but if you don't, your hits will be open for all sorts of
    internet riff-raff to screw around with. Just hope 4chan doesn't catch wind
    of your creative endeavors.
= render 'form'
