- unless @pending_sites.blank?
  .prompt
    %h3 Care to log in?
    It's optional, but if you don't, your Hits will be open for all sorts of
    internet riff-raff to screw around with. On the other hand, that might be
    kind of a hoot.
= render 'form'
