@import "forms";
@import "compass/css3/transitions";

form {
  input[type=text].full_width { width: 538px; }
  input[type=text].url { width: 384px; }
  label {
    @include inline-block;
    color: #666;
    margin-left: 11px;
  }
}

.tooltip {
  @include text-size(14px);
  width: 350px;
}
