@import "compass/utilities/general";
@import "shared";
body {
  background-color: $home-bg-color;
  @include linear-gradient(
    color-stops($home-bg-color,
                lighten($home-bg-color, 5%) 40%,
                lighten($home-bg-color, 5%) 60%,
                $home-bg-color),
    left);
}

#content {
  @include clearfix;
  width: 100%;

  .intro {
    @include clearfix;
    margin: 0px auto;
    padding-bottom: 15px;
    width: $home-width;

    h1 {
      @include text-size(4em);
      color: $exciting-color;
      font-family: 'Amaranth', $default-fonts;
      text-align: left;
      text-shadow: darken($exciting-color, 25%) 0px -1px 0px,
                   lighten($exciting-color, 45%) 0px 1px 0px;
      margin: 10px 0px;
      padding: 0px;
    }

    .teaser {
      @include transform(1, -8deg, 0, 0, -8deg);
      @include float(left);
      text-shadow: #000 0px -1px 0px,
                   #EEE 0px 1px 0px;
      margin-left: 25px;
      width: 375px;

      ol {
        @include text-size(2em);
        margin-top: -10px;
        padding: 10px 0px;

        li { margin: 10px 0px; }
      }
    }

    .form {
      @include float(left);
      margin-left: 30px;
      width: 400px;

      h2 {
        @include text-size(1.25em);
        @include border-top-radius($standard-radius);
        background-color: darken($home-bg-color, 40%);
        color: #FFF;
        padding: 3px 0px;
        text-align: center;
        text-shadow: #000 0px -1px 0px;
      }
    }
  }

  .examples {
    color: #444;
    margin: 15px auto 0px;
    width: $home-width;

    h2 {
      @include border-top-radius($standard-radius);
      @include text-size(1.5em);
      background-color: darken($home-bg-color, 40%);
      color: #FFF;
      padding: 5px 10px 3px 25px;
      text-shadow: #000 0px -1px 0px;
    }

    .cycle_container {
      @include border-bottom-radius($standard-radius);
      background-color: #FFF;
    }

    .site {
      @include min-height(300px);
      text-align: center;
      margin: 0px auto;
      padding: 20px 0px 10px;
      width: $home-width;

      h1 {
        margin: 0px 0px 15px;
        padding: 0px;
      }

      p {
        @include text-size(2em);
      }
    }
  }

  .thanks {
    bottom: 60px;
    position: absolute;
    right: 10px;
  }
}
