@import "constants";
@import "shared";
@import "forms";

form {
  @include text-size(.9em);
  @include border-top-radius(0px);
  margin: 0px 5px;
  padding: 5px 9px 10px;
  background-color: transparent;
  border-top: 1px solid darken($home-bg-color, 10%);

  input[type=text].full_width { width: 358px; }

  input[type=text] {
    border-color: darken($home-bg-color, 25%);
    border-width: 1px;
    margin: 3px 0px;
    padding: 3px 5px;

    &:focus, &:hover {
      border-color: darken($home-bg-color, 50%);
    }
  }

  input[type=submit] {
    @include text-size(1.5em);
    padding: 5px 10px;
    width: 100%;
  }

  label { color: darken($home-bg-color, 45%); }

  .actions {
    margin: 10px 0px 5px;
  }
  .field {
    margin: 5px 0px;
  }
  .url input[type=text] { width: 229px; }
}
