@import "compass/utilities/general/min";
@import "shared";

#content {
  text-align: center;

  h1 {
    @include text-size(3em);
  }

  p {
    @include text-size(2.5em);
    @include min-height(200px);
    margin: 50px auto;
    width: 600px;
  }

  a {
    @include action-button();
    padding: 15px;
    width: 150px;
  }
}
