@import "compass/utilities/general/min";
@import "shared";

#content {
  text-align: center;
  width: 800px;


  h1 {
    @include text-size(3em);
    position: relative;
  }

  h1, .quip {
    padding-bottom: 25px;
  }

  a.action {
    @include action-button();
    padding: 15px;
    width: 150px;
  }

  .edit {
    @include text-size(12px);

    bottom: 0px;
    margin-left: 10px;
    position: absolute;
    right: 0px;
    a { @include simple-button(); }
  }

  .quip {
    @include text-size(2.5em);
    @include min-height(150px);
    margin: 35px auto;
    position: relative;
  }

  .share {
    margin: 10px auto;
    padding-left: 10px;
    width: 190px;
  }
}
