$background-color: #FFF;

$error-color: #FF9494;
$error-border: darken($error-color, 10%);

$prompt-color: #C6C3E2;

$home-bg-color: #63D7FF;

$exciting-color: #E97B10;
$hover-color: lighten($exciting-color, 10%);
$action-color: darken($exciting-color, 5%);
$discouraged_color: #666;

$text-color: #333;
