$background-color: #FFF;

$error-color: #FF9494;
$error-border: darken($error-color, 10%);

$exciting-color: #FF9F05;
$hover-color: lighten($exciting-color, 10%);
$action-color: darken($exciting-color, 5%);
$discouraged_color: #666;

$header-color: #F6F6AC;
$text-color: #333;


