@import "compass/css3";
@import "blueprint/buttons";

@import "shared";

$form-width:                   600px;

form {
  @include rounded-section;
  width: $form-width;

  input[type=text], label { font-size: 1.5em; }

  label {
    color: #666;
    display: inline-block;
    margin-left: 11px;
  }

  input[type=text] {
    @include border-radius($standard-radius);
    @include linear-gradient(
               color-stops(#CCC, #FAFAFA 2%, #FAFAFA 98%, #CCC)
             );
    border: 2px solid #CCC;
    display: inline-block;
    padding: 8px;

    &.full_width { width: $form-width - 20px; }
    &:placeholder { :background-color: #F00; }
    &:focus, &:hover { @include light-highlight(); }
  }

  input[type=submit] {
    @include border-radius($standard-radius);
    @include linear-gradient(
      color-stops(#FF9F05, #FFCF55 2%, #FF9F05 20%, #DF7F05 80%, #AF4F00));
    border: none;
    color: #FFF;
    font-size: 2em;
    padding: 10px;
    width: 250px;
    &:hover,&:focus {
      @include box-shadow(#F6E62C, 0, 0, 15px);
      cursor: pointer;
    }
    &:active {
      @include box-shadow(#D6C60C, 0, 0, 10px);
      @include linear-gradient(
        color-stops(#FF9F05, #DFAF35 2%, #DF7F00 20%, #BF5F00 80%, #8F2F00));
      color: #DDD;
    }
  }

  .field { margin: 10px 0px; }
  .actions {
    margin: 20px 0px;
    text-align: right;
  }
}
