@import "compass/css3";
@import "blueprint/buttons";

@import "shared";

$form-width:                   600px;

form {
  @include rounded-section;
  width: $form-width;

  input[type=text], label { font-size: 1.5em; }

  label {
    color: #666;
    display: inline-block;
    margin-left: 11px;
  }

  input[type=text] {
    @include border-radius($standard-radius);
    @include linear-gradient(
               color-stops(#CCC, #FAFAFA 2%, #FAFAFA 98%, #CCC)
             );
    border: 2px solid #CCC;
    display: inline-block;
    padding: 8px;

    &.full_width { width: $form-width - 20px; }
    &:placeholder { :background-color: #F00; }
    &:focus, &:hover { @include light-highlight(); }
  }

  input[type=submit] {
    @include action-button();
    width: 250px;
  }

  .field { margin: 10px 0px; }
  .actions {
    margin: 20px 0px;
    text-align: right;
  }
}
