@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/links";

* {
  outline: none;
}

html, body {
  height: 100%;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: Helvetica, Ariel, sans-serif;
  line-height: 1.2em;
}

a {
  @include link-colors($text-color, $exciting-color, $action-color);
  text-decoration: none;
}

#header {
  @include clearfix();
  @include linear-gradient(
    color-stops(
      #000,
      lighten($header-color, 20%) 5%,
      $header-color               20%,
      $background_color));
  h1 {
    font-size: 2.5em;
    line-height: 1.2em;
    font-weight: bold;
    padding: 10px 0px 20px;
    text-align: center;
  }

  #nav {
    margin: 0px 10px 5px 0px;
    position: absolute;
    right: 10px;
    top: 0px;
    a {
      @include border-bottom-radius(5px);
      @include linear-gradient(color-stops(#222, #FFF 3%, #FFF));
      border: 1px solid #000;
      display: block;
      float: left;
      font-weight: bold;
      margin: 0px 5px 10px;
      padding: 10px 20px;
    }
    a.home {
      @include linear-gradient(color-stops(
        darken($exciting-color, 30%),
        #FFF 5%,
        lighten($exciting-color, 30%) 10%,
        #FFF));
      padding: 8px 20px;
    }
  }
}

#content {
  margin: 0px auto;
  width: 650px;
}
