@import "compass/css3";
@import "compass/utilities";

* {
  outline: none;
}

html, body {
  height: 100%;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: Helvetica, Ariel, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2em;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

a {
  @include link-colors($exciting-color, $hover-color, $action-color);
  text-decoration: none;
}

#content {
  margin: 0px auto;
  width: 600px;
}

#header {
  @include border-bottom-radius($standard-radius);
  @include clearfix();
  @include box-shadow(#777);
  @include text-size(.9em);
  background-color: $header-color;
  margin: 0px 3px;
  padding: 5px 10px;

  .greeting {
    @include float(left);

    a.login {
      @include small-button;
    }
  }

  #nav {
    @include float(right);
    a {
      @include inline-block;
      @include link-colors($text-color, $exciting-color, $action-color);
      font-weight: bold;
      margin: 0px 10px;
      padding: 1px 0px;

      &:active {
        margin: 1px 9px -1px 11px;
      }
      &.home {
        @include link-colors($exciting-color, $exciting-color, $action-color);
      }
    }
  }
}

#stats {
  position: absolute;
  right: 50px;
  top: 30px;

  span {
    @include linear-gradient(color-stops(#000, #666 10%, #222 50%, #000));
    @include min-width(75px);
    @include text-size(1.1em);
    border-left: 1px solid #000;
    color: #FFF;
    display: block;
    float: left;
    padding: 4px 10px 5px;
    text-align: center;

    small {
      @include text-size(.5em);
      text-transform: uppercase;
    }

    &:first-child {
      @include border-bottom-left-radius($standard-radius/2);
      border-left: none;
    }
    &:last-child {
      @include border-bottom-right-radius($standard-radius/2);
    }
  }
}

.prompt {
  @include rounded-section;
  background-color: $prompt-color;
  margin: 10px 0px;

  h3 {
    font-weight: bold;
  }
}

.small { @include text-size(.8em); }

.fb_iframe_widget iframe {
  height: 25px !important;
  width: 75px !important;
}
.twitter-count-horizontal {
  height: 21px !important;
}
