@import "compass/css3";
@import "constants";

$light-highlight-color: #EAF0FA;

@mixin highlight-gradient($color) {
  @include linear-gradient(
    color-stops($color,
                lighten($color, 15%) 2%,
                $color 10%,
                $color 95%,
                darken($color, 20%)));
}

@mixin button {
  @include border-radius($standard-radius);
  @include inline-block;
  @include highlight-gradient($exciting-color);
  border: none;
  color: #FFF;
  text-align: center;
  text-shadow: darken($exciting-color, 35%) 0px -1px 0px,
               lighten($exciting-color, 35%) 0px 1px 0px;

  &:hover, &:focus {
    cursor: pointer;
    @include highlight-gradient(lighten($exciting-color, 3%));
  }
  &:active {
    @include highlight-gradient(darken($exciting-color, 2%));
    color: #F0F0F0;
  }
}

@mixin action-button {
  @include button;
  font-size: 2em;
  padding: 10px 15px;
}

@mixin simple-button {
  @include border-radius($tight-radius);
  background-color: #FAFAFA;
  border: 1px solid #CCC;
  color: #999;
  font-weight: normal;
  padding: 3px 5px;

  &:hover {
    background-color: #FAFAFA;
    border-color: $exciting-color;
    color: $exciting-color;
  }
  &:active {
    background-color: #F6F6F6;
    border-color: $action-color;
    color: $action-color;
  }
}

@mixin small-button {
  @include button;
  padding: 1px 10px;
}

@mixin light-highlight {
  border-color: #9C9;
}

@mixin rounded-section {
  @include border-radius($standard-radius);
  background-color: #EFEFEF;
  padding: 15px 20px;
}

@mixin text-size($size) {
  font-size: $size;
  line-height: 1.2em;
}
