@import "compass/css3";
@import "compass/utilities";

@import "constants";
@import "shared";

#content {
  h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  h2 {
    margin: 5px 0px;
  }
}

#badges {
  margin: 10px 0px 20px;

  ul {
    @include clearfix();
    margin: 0px auto;
    li {
      float: left;
      margin: 0px 5px;
    }
  }
}

#sites {
  @include rounded-section;
  a {
    @include border-radius($standard-radius);
    @include text-size(1.5em);

    display: block;
    padding: 5px 10px;
    &:hover { @include light-highlight(); }
  }
}
