@charset "UTF-8";
/* line 7, ../../../app/stylesheets/users/form.scss */
form label {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin-right: 10px;
  width: 100px;
}
/* line 7, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
form label {
  *display: inline;
}
/* line 13, ../../../app/stylesheets/users/form.scss */
form input[type=text], form input[type=password] {
  width: 420px;
}
/* line 16, ../../../app/stylesheets/users/form.scss */
form .actions a {
  color: #666666;
  display: block;
  margin: 10px 10px 0px 0px;
}
/* line 24, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
form .actions a:hover {
  color: #ffb338;
}
/* line 27, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
form .actions a:active {
  color: #eb9000;
}
