@import "compass/utilities";
@import "shared";

form {
  margin: 40px 0px 10px;
  input[type=text] { width: 426px; }
  input[type=submit] {
    @include float(right);
    @include inline-block;
    @include text-size(1.5em);
    width: 100px;
  }
}

ul.quips {
  @include rounded-section;
  li {
    @include border-radius($standard-radius);
    @include text-size(1.5em);
    padding: 5px 10px;
    &:hover { @include light-highlight(); }
  }
  a {
    font-size: .5em;
    float: right;
  }
}

