- content_for :head do
  = stylesheet_link_tag 'sites/index'
%h1 OneH¡t
.actions
  .action
    = link_to "Make a Hit", new_site_path
  .action
    = link_to "Random Hit", random_sites_path
= link_to "Thanks!", thanks_path, :class => 'thanks'
